@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:600&display=swap');
* {
    padding:0;
    margin:0;
}
#logo {
    width: 120px;
    height: 120px;
}
#image {
width: 1920px;
height: 530px;
object-fit: cover;
}

#mod > a {
    color: #00AFF0;
    text-decoration: none;
}
#history > a{
    color: #3E4095;
    text-decoration: none;
}
#m > a {
    color: #EC3237;
    text-decoration: none;
}
h1,h2,strong {
    font-family: 'Catamaran', sans-serif;
}

h3,small,li,a {
    font-family: 'Montserrat', sans-serif;
}